# Ігнорування системних файлів
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігнорування середовища віртуального оточення
.venv/
venv/

# Лог-файли та кеші
*.log
*.cache

# Ігнорування тестових результатів
.coverage
.tox/
nosetests.xml
pytest_cache/

# Ігнорування налаштувань IDE
.vscode/
.idea/
*.iml

# Ігнорування вхідних та вихідних файлів
input/
output/
*.csv
*.tsv
*.json